* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*CSS Colour Variables*/
:root {
  --light-grey: rgb(197, 201, 205);
  --color-primary: rgb(26, 147, 169);
  --color-secondary: rgb(208, 28, 54);
  --color-tertiary: rgb(227, 172, 0);
  --border-radius: 0.3rem;
  --color-white: rgb(255, 255, 255);
}
